<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="a" class="com.zhanzhao.demo2.A" scope="singleton">
		<property name="b" ref="b"/>
	</bean>
	<bean name="b" class="com.zhanzhao.demo2.B" scope="singleton">
		<property name="a" ref="a"/>
	</bean>
</beans>